        <p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" header="{{'influencer.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="{{'influencer.tabPan' | translate}}">
                        <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'influencer.nickName' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'influencer.nickName' | translate}}" id="1" [(ngModel)]="item.nickName"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validInfluencerNickName}"  />
                                            <small class='p-error' *ngIf='!validInfluencerNickName'>NickName est obligatoire.</small>
                                        </div>



                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="2">{{'influencer.credentialsNonExpired' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="2"  [(ngModel)]="item.credentialsNonExpired"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="3">{{'influencer.enabled' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="3"  [(ngModel)]="item.enabled"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="4">{{'influencer.accountNonExpired' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="4"  [(ngModel)]="item.accountNonExpired"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="5">{{'influencer.accountNonLocked' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="5"  [(ngModel)]="item.accountNonLocked"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field align-inputswitch col-12  md:col-6">
                                            <div  class="label-inputswitch">
                                                <label for="6">{{'influencer.passwordChanged' | translate}}</label>
                                            </div>
                                            <div class="input-switch">
                                                <p-inputSwitch id="6"  [(ngModel)]="item.passwordChanged"
                                                         >
                                                </p-inputSwitch>
                                                
                                            </div>
                                        </div>


                                        <div class="field col-12 md:col-6">
                                            <label for="7">{{'influencer.username' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'influencer.username' | translate}}" id="7" [(ngModel)]="item.username"
                                                     />
                                            
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="8">{{'influencer.password' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'influencer.password' | translate}}" id="8" [(ngModel)]="item.password"
                                                     />
                                            
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">
                            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>

                        <button pButton pRipple label="Valider" icon="pi pi-check"  (click)="edit()"></button>
                </div>
            </ng-template>
    </p-dialog>
