<div class="grid"  *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('InscriptionCollaborator')" *ngIf="createActionIsValid"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()  *ngIf="deleteActionIsValid"></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-secondary mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-secondary" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="1-1">{{'inscriptionCollaborator.inscriptionDateMin' | translate}}</label>
                            <p-calendar class="mr-2" [(ngModel)]="criteria.inscriptionDateFrom"
                                    id="1-1" dateFormat="dd-MM-yy"  [showIcon]="true"  class="p-fluid"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="1-2">{{'inscriptionCollaborator.inscriptionDateMax' | translate}}</label>
                            <p-calendar class="mr-2" [(ngModel)]="criteria.inscriptionDateTo"
                                    id="1-2" dateFormat="dd-MM-yy"  [showIcon]="true" class="p-fluid"></p-calendar>
                        </div>


                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="2-1">{{'inscriptionCollaborator.renewDateMin' | translate}}</label>
                            <p-calendar class="mr-2" [(ngModel)]="criteria.renewDateFrom"
                                    id="2-1" dateFormat="dd-MM-yy"  [showIcon]="true"  class="p-fluid"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="2-2">{{'inscriptionCollaborator.renewDateMax' | translate}}</label>
                            <p-calendar class="mr-2" [(ngModel)]="criteria.renewDateTo"
                                    id="2-2" dateFormat="dd-MM-yy"  [showIcon]="true" class="p-fluid"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="3-2">{{'inscriptionCollaborator.packaging' | translate}} Max</label>
                            <p-dropdown [options]="packagings" [(ngModel)]="criteria.packaging" id="3" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'inscriptionCollaborator.packaging' | translate}}" optionLabel="id">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="4-2">{{'inscriptionCollaborator.collaborator' | translate}} Max</label>
                            <p-dropdown [options]="collaborators" [(ngModel)]="criteria.collaborator" id="4" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'inscriptionCollaborator.collaborator' | translate}}" optionLabel="name">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5-2">{{'inscriptionCollaborator.inscriptionState' | translate}} Max</label>
                            <p-dropdown [options]="inscriptionStates" [(ngModel)]="criteria.inscriptionState" id="5" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'inscriptionCollaborator.inscriptionState' | translate}}" optionLabel="name">
                            </p-dropdown>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['inscriptionDate', 'renewDate', 'packagingid', 'collaboratorname', 'inscriptionStatename']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'inscriptionCollaborator.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                                
                        <th pSortableColumn="inscriptionDate">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscriptionCollaborator.inscriptionDate' | translate}}</span>
                                <p-sortIcon field="inscriptionDate"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="renewDate">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscriptionCollaborator.renewDate' | translate}}</span>
                                <p-sortIcon field="renewDate"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="packaging">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscriptionCollaborator.packaging' | translate}}</span>
                                <p-sortIcon field="packaging"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="collaborator">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscriptionCollaborator.collaborator' | translate}}</span>
                                <p-sortIcon field="collaborator"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="inscriptionState">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'inscriptionCollaborator.inscriptionState' | translate}}</span>
                                <p-sortIcon field="inscriptionState"></p-sortIcon>
                            </div>
                        </th>
                                
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>
                            
                        <td>{{element.inscriptionDate | date :'dd/MM/yyyy HH:mm' }}</td>
                            
                            
                        <td>{{element.renewDate | date :'dd/MM/yyyy HH:mm' }}</td>
                            
                            
                        <td>{{element.packaging?.id}}</td>
                            
                            
                        <td>{{element.collaborator?.name}}</td>
                            
                            
                        <td>{{element.inscriptionState?.name}}</td>
                            
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="edit(element)"  *ngIf="editActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="view(element)"  *ngIf="viewActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"  *ngIf="deleteActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"  *ngIf="duplicateActionIsValid"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'inscription collaborator' : 'inscription collaborators' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-inscription-collaborator-create-admin  *ngIf="createDialog  && createActionIsValid"></app-inscription-collaborator-create-admin>
        <app-inscription-collaborator-edit-admin  *ngIf="editDialog  && editActionIsValid"></app-inscription-collaborator-edit-admin>
        <app-inscription-collaborator-view-admin  *ngIf="viewDialog  && viewActionIsValid"></app-inscription-collaborator-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
