        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'coupon.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'coupon.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'coupon.code' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'coupon.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validCouponCode}"  />
                                                    <small class='p-error' *ngIf='!validCouponCode'>Code est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'coupon.dateDebut' | translate}}</label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'coupon.dateDebut' | translate}}"  [(ngModel)]="item.dateDebut"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'coupon.dateFin' | translate}}</label>
                                                    <p-calendar appendTo="body" id="3"  [showTime]="true" [showSeconds]="false" placeholder="{{'coupon.dateFin' | translate}}"  [(ngModel)]="item.dateFin"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'coupon.name' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'coupon.name' | translate}}" id="4" [(ngModel)]="item.name"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validCouponName}"  />
                                                    <small class='p-error' *ngIf='!validCouponName'>Name est obligatoire.</small>
                                                </div>



                                            <div class="field col-11 md:col-6">
                                                <label for="5">{{'coupon.packaging' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="packagings" [(ngModel)]="item.packaging" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="id" placeholder="{{'coupon.packaging' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                            <div class="field col-11 md:col-6">
                                                <label for="6">{{'coupon.influencer' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="influencers" [(ngModel)]="item.influencer" id="6" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="id" placeholder="{{'coupon.influencer' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>
                                                <div class="col-1">
                                                    <label></label>
                                                    <button pButton pRipple type="button" icon="pi pi-plus" (click)="openCreateInfluencer('Influencer')" class="p-button-success one-colonne-btn-success-align"></button>
                                                </div>
                                                <div class="field col-12 md:col-6">
                                                    <label for="7">{{'coupon.pourcentageCoupon' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{{'coupon.pourcentageCoupon' | translate}}" [(ngModel)]="item.pourcentageCoupon"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="8">{{'coupon.pourcentageInfluencer' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="8" placeholder="{{'coupon.pourcentageInfluencer' | translate}}" [(ngModel)]="item.pourcentageInfluencer"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="9">{{'coupon.usingNumber' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="9" placeholder="{{'coupon.usingNumber' | translate}}" [(ngModel)]="item.usingNumber"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
